body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.nav-desktop{
    display: flex; 
justify-content: space-between;
    
}
.nav-desktop .signup{
    color:#0065FC;
}
.nav-desktop .signup:hover{
    border-top: none;

}
.nav-mobile{
    display: none;
}
.nav-desktop ul{    
    display: flex;
} 
.nav-desktop a{
    text-decoration: none;
    color: black;
    padding-top: 20px;
    display: inline-block;
}
.nav-desktop a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}
li{
    list-style: none;
}
.nav-desktop li{
    margin-right: 20px;    
}

.nav-desktop img{
    width: 100px;
}

.content-map{
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding: 8px;
}
.filters-button{
    background-color: #0065FC;
    color: white;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border: none;
    margin: 0px;
}
input{
    padding: 8px;
    border: 1px solid #F2F2F2;
}

.filters ul{
    display: flex;
    margin-top: 20px; 
}
.filters ul li{
    margin-left: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-weight: 600;
}
.filters li span{
    display: flex;
    border-radius: 100%;
    background-color: #F2F2F2;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #0065FC;
}
.content-filters{
    display: flex;
}
.filters-button.mobile{
    display: none;
}
.content-filters h2{
    margin-top: 20px;
}
.content-hébergement{
    display: flex;
    flex-wrap: wrap;
}
.content-hébergement article{
    width: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    box-sizing: border-box;

    
}
.content-hébergement img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.fa-star{
    color: #0065FC;
}
.star-grey{
    color: #F2F2F2;
}
.hébergement-populaires{
    display: flex;   
}
.content-populaires img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
#populaires{
    width: 30%;
    background-color: #F2F2F2;
    margin-left: 20px;
    padding: 0 20px;
    border-radius: 30px;
}
#populaires h2{
    display: flex;
    justify-content: space-between;
}
.content-populaires article{
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 30px;
}
.content-populaires .content-img{
    width: 40%;
    margin-right: 15px;
    padding: 5px;
}
#hébergement{
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 30px;
}
.content-activity{
    display: flex;
    flex-wrap: wrap;
}
.content-activity div{
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    

}
.content-activity .tall img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    
    
}
.content-activity .small img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.content-activity .small{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.content-activity .small article{
    width: 100%;
}
.content-activity article{
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 10px 5px 5px #F2F2F2;
}





.nav-footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
}
.nav-footer ul{
    padding-left: 0px;
}


.content-info{
    margin-left: 10px;
    border: 1px solid grey;
    display: flex;
    margin-right: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: blue;
}
.info{
    display: flex;
    line-height: 30px;
}
/*only for destop*/
@media screen and (min-width:780px){
    .nav-desktop img{
        margin-left: 20px;
    }
    section.filters{
        margin-left: 20px;
        margin-right: 20px;
    }
    .hébergement-populaires{
        margin: 10px 20px;
    }
    #activity{
        margin: 10px;
        margin-bottom: 20px;
    }
    #hébergement h3{
        margin-left: 20px;
    }
    #activity h3{
        margin-left: 10px;
    }
    .show-more{
        margin-left: 20px;
    }
}
/*FOR MOBILE */
@media screen and (max-width:700px){
  .nav-desktop{
      display: none;
  } 
  .nav-mobile{
      display: block;
  }
  .nav-mobile div{
      display: flex;
      justify-content: space-between;
      line-height: 46px;
      padding: 20px;
    }
    .nav-mobile ul{
        display: flex;
        padding: 0;
        margin: 0;
    }
    .nav-mobile li{
        width: 100%;
    }
    .nav-mobile ul a{
        width: 100%;
        display:inline-block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid #F2F2F2;
        text-align: center;
        padding-bottom: 10px;
    }
    .nav-mobile ul a:hover{
        border-color: #0065FC;
        color: #0065FC;
    }
    .nav-mobile div a{
        text-decoration: none;
        color: #0065FC;
    }
  .nav-mobile img{
      width: 100px;
  }
  .filters{
      margin-left: 20px;
  }
  .filters ul li{
      margin-bottom: 20px;
      margin-right: 10px;
      margin-left: 0;
  }
  .filters-button.mobile{
      display: inline-block;
      margin-left: -10px;
      border-radius: 10px;
  }
  .filters-button.desktop{
      display: none;
  }
  .filters ul{
      margin: 0;
  }
  .content-filters{
      flex-wrap: wrap;
  } 
  .content-filters ul{
      flex-wrap: wrap;
      padding: 0;
  }
  .hébergement-populaires{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 0;
  }
  #hébergement{
      width: 100%;
      padding: 10px;
      background-color: white;
  }
  .content-hébergement{
      display: block;
  }
  .content-hébergement article{
      width: 100%;
      margin-left: 0;
  }
  #populaires{
      width: 100%;
      margin-left: 0;
      border-radius: 0;
  }
  #activity{
      padding: 20px;
  } 
  .content-activity{
      display: block;
      padding: 0;
  }
  .content-activity div{
      width: 100%;
      padding: 0;
  }
  .content-activity article{
      margin-bottom: 20px;
  }
  .content-activity .tall img{
      height: 150px;
  }
  .nav-footer{
      display: block;
      padding: 20px;
  }

}
/* FOR TABLET */
@media screen and (min-width:700px) and (max-width:1024px){
    .nav-desktop{
        display: flex;
    }
    .filters{
        margin-left: 30px;
    }
    .hébergement-populaires{
        flex-wrap: wrap;
    }
    #hébergement{
        width: 100%;
        background-color: white;
        border-radius: 0;
    }
    #hébergement h3{
        padding-left: 30px;
    }
    .show-more{
        margin-left: 30px;
    }
    #activity h4{
        padding-left: 20px;
    }
    #populaires{
        width: 100%;
        border-radius: 0;
        margin-left: 0;
    }
    .content-activity div{
        width: 50%;
        padding: 10px 20px;
    }
    #filters{
        padding:0 20px;
    }
    #content-filters{
        margin-right: 30px;

    }
    header img{
        padding-left: 20px;
    }

}
